body {
    background-color: black;
    width: 350px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin-block-start: -25px;
    margin-block-end: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 22px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

p {
    color: white;
}

form {
    color: white;
    font-size: 14px;
}

.display-location-label, .display-level-label {
    float: right;
}

input[type=radio] {
    float: right;
}

input[type=text] {
    width: 97.5%;
}

input[type=number] {
    width: 40px;
    float: right;
}

.power-button {
    display: none;
}

.upvote-fallback-label, .scroll-enabled-label, .note {
    font-size: 12px;
}


input[type="checkbox"] + label span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background: url(/power-off2.png) 0px center no-repeat;
    background-size: contain;
}

input[type="checkbox"]:checked + label span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background: url(/power-on1.png) 0px center no-repeat;
    background-size: contain;
    font-size: 0px;
}

button {
    cursor: pointer;
}

.button-hidden {
    display: none;
}

.advanced {
    display: none;
}

.lcb-promo {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    position: relative;
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.id-input-row {
    display: flex;
    gap: 3px;
}

.pull-id-button {
    position: relative;
    display: inline-block;
}

    .pull-id-button:hover .pull-id-tooltip {
        visibility: visible;
    }

    .pull-id-button .pull-id-tooltip {
        visibility: hidden;
        width: max-content;
        background-color: white;
        color: black;
        text-align: center;
        padding: 5px;
        border-style: solid !important;
        border: 1px;
        border-color: #ccc;
        border-radius: 3px;
        position: absolute;
        right: -2px;
        bottom: 23px;
        z-index: 999;
    }