/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Distressed&display=swap');*/

.ltt-main {
    background-color: rgba(0, 0, 0, 0.8);
    /*font-family: 'Rubik Distressed', cursive;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    bottom: 0;
    position: absolute !important;
    overflow: hidden !important;
    z-index: 2147483647 !important;
    border-left: 0;
    border-right: 0;
    width: 100%;
    text-align: left;
    line-height: normal;
}

.ltt-comment-slot {
    margin: 0 -0.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 7px;
    color: white;
}

.com-livethreadticker {
    white-space: nowrap;
}

.ltt-scroll-container {
    position: relative;
}

.ltt-logo-scroll {
    background-color: black;
    position: relative;
    z-index: 2147483647;
    margin-left: -0.5rem;
    top: -1px;
    padding-bottom: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

.ltt-scroll {
    left: 0;
    white-space: nowrap;
    position: absolute !important;
    animation: marquee-ltt 500s linear infinite;
}

@keyframes marquee-ltt {
    0% {
        left: 0;
    }

    100% {
        left: -100000%;
    }
}